<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find tb_wall_avoider)/config/turtlebot2_openai_qlearn_params_wall.yaml" />
    <!-- Launch the training system -->
    <node pkg="tb_wall_avoider" name="example_turtlebot2_maze_qlearn" type="my_start_qlearning_wall.py" output="screen"/>
</launch>